
.wic-nss-complete {
  color: green;
}
.wic-nss-incomplete {
  color: red;
}
.webform-component-radios .form-type-radio {
  display: inline;
  margin-left: 5px;
}
.wic-nss-node-display,
.wic-nss-submissions-toc {
  border-bottom: 2px solid #97BE49;
  margin-bottom: 1em;
}
.wic-nss-node-display:last-child {
  border-bottom: none;
  margin-bottom: none;
}